.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: auto 8fr auto;
    grid-template-areas: 'navbar navbar navbar' '. main .';
    grid-gap: 2px;
    height: 100%;
    background: #EEEEEE;
}

.form-box {
    width: 50px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 500px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.input-box {
    margin: 40px;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

a:hover { color: #2C303C; }

.navbar {
    display: grid;
    grid-area: navbar;
    grid-template-areas: 'header';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    align-self: center;
    justify-self: center;
}

.loginInput {
    align-self: center;
    justify-self: center;
    height: 30px;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.loginBtn {
    align-self: center;
    justify-self: center;
    height: 40px;
    background: #2C303C;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.loginBtn:hover {
    background: #5C9EAD;
    border-color: #5C9EAD;
    color: white;
}

@media only screen and (max-width: 480px) {
    .container {
        grid-template-columns:auto;
        grid-template-areas: 'navbar' 'main';
    }

    .navbar {
        grid-template-columns:auto;
        grid-template-areas: 'header sysinfo';
    }

    .main {
        display: grid;
        grid-template-areas:
                'usernameInput passwordInput'
                'loginBtn loginBtn';
        grid-template-rows: 1fr 1fr;
    }

    .usernameInput {
        grid-area: usernameInput;
    }

    .passwordInput {
        grid-area: passwordInput;
    }

    .loginBtn {
        grid-area: loginBtn;
        width: 50%;
    }

    .fa {
        margin-right: 10px;
    }

    .eye {
        margin-right: 10px;
        position: absolute;
    }

    #hide1 {
        display: none;
    }
}